
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="~/CSS/StyleSheet1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            text-align: center;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        h1 {
            text-align: center;
            color: darkblue;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
       
        div {
            width: 600px;
            background-color : #F7F7F7;
            border: 4px solid darkblue;
            padding: 50px;
            margin: auto;
            font-size: 16px;
            text-align : center;
        }
    </style>
</head>
<body>
    <h1>About Us</h1>
    <div>
        <p>
                    JDE Traders sells many different types of vehicles, which are dependent on
                    the level of client and their specific requirement. They do however
                    in hatchbacks and bakkies and also focus on low budget vehicles for the
                    average South African. They sell categories of vehicles that include brand
                    new, pre-owned and non-running vehicles.
                    Shiela and her team focus mainly on obtaining the vehicles at cheap
                    purchase prices in order to sell them for an appealing price to the public.
                    They also allow potential customers to request a specific type of vehicle, and
                    will use this to track the vehicle down. They constantly monitor vehicles put up
                    for sale online and travel around Gauteng in order to complete purchase
                    transactions by fetching the vehicles from sellers. They take an online
                    approach to their marketing strategy, which allows them to target specific
                    areas and specific customer types depending on the vehicle. When vehicles
                    are sold, customers have to pick it up from JDE Traders, as they do not offer
                    deliveries.
         </p>
         
</div>
</body>
