@model Vehlution_Everything_.Models.EMPLOYEE
@{
    ViewBag.Title = "Create";
    Layout = null;
}





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="~/CSS1/StyleSheet1.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body>
    <div class="container" style="text-align:center">
        <div class="panel panel-default">
            <h1 style="color:orange">Employee details</h1>
            <div class="panel-body">


                @using (Html.BeginForm("Create", "EMPLOYEEs"))
                {


                    <label>Full Name </label><br />
                    <input type="text" id="FULL_NAME" name="FULL_NAME" style="width:50%" maxlength="50" required /> <br />
                    <label>Cell Number</label><br />
                    <input type="text" id="CELL_NUMBER" name="CELL_NUMBER" style="width:50%" maxlength="10" required /><br />
                    <label>Email Address</label><br />
                    <input type="email" id="EMAIL" name="EMAIL" style="width:50%" maxlength="50" required /><br />
                    <label>Job description </label><br />
                    <input type="text" id="JOB_DESCRIPTION" name="JOB_DESCRIPTION" style="width:50%" maxlength="225" required /><br />
                    <label>Date Hired </label><br />
                    <input type="date" style="width:50%" id="DATE_HIRED" name="DATE_HIRED" required /><br />

                    <button type="submit" class="btn btn-default btn-sm" id="Create" name="Create" style="background-color:lightgreen">
                        <i class="fa fa-plus-square"></i>
                        <span class="glyphicon glyphicon-ok"></span> Add Employee
                    </button> <button type="button" class="btn btn-default btn-sm" style="background-color:red" onclick="location.href='@Url.Action("Index","EMPLOYEEs")'">
                        <i class="fa fa-times"></i>
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </button>
                }

            </div>
        </div>
    </div>

   
</body>
</html>


